<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shoes</title>
  <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
  />
</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  <h2 style="color:white;">Venom&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/productadmin">Check All Shoes</a></li>
      <li class="nav-item"><a class="nav-link active" href="/addNew">Add new shoes</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 

          <li class="nav-item"><a class="nav-link" href="/dashboard">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/><br/>
  <div class="row justify-content-center">
  <div class="card row justify-content-center">
  <h2 class="card-header"><storng style="color: pink">Add</storng> a new shoes </h2>

  
  <form action="/addOne" method="post">
    <div>
      <label for="id">ID :</label>
      <input type="number" name="id">
    </div>
    
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name">
    </div>
    
    <div>
      <label for="brand">brand:</label>
      <input type="text" name="brand">
    </div>
    
    <div>
      <label for="price">Price:</label>
      <input type="number" name="price">
    </div>  
    
    <div>
      <label for="color">color:</label>
      <input type="text" name="color">
    </div>
    
    <div>
      <label for="imageUrl">imageUrl:</label>
      <input type="text" name="imageUrl">
    </div>
    
    <button type="submit"> Submit </button>
  </form>
 
  </div>

</body>

