<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
  <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  <h2 style="color:white;">&nbsp;&nbsp;Back-end&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link active" href="/productadmin">Check All tasks</a></li>
      <li class="nav-item"><a class="nav-link" href="/addNew">Add New task</a></li>
       <admin class="nav-item"><a class="nav-link" href="/admin">Check All students's process</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 

          <li class="nav-item"><a class="nav-link" href="/dashboard">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
  
  
  
     <% if (cart) { %>

            
                <% cart.forEach(function(cart){ %>
          <table class="checklist_table" id="checklist_table">
                    <th name="list_id">
                      <td class="list_id_button">
                            <%= cart.email %>
                        </td>
                       
                    </th>
 <% cart.product_list.forEach(function(product){ %>
      <tr><td>NAME: <%= product.TaskName %></td></tr>
  
  <% if(product.status==1){%>
      <tr><td class="status">Doing</td></tr>
  <% }; %>
  <% if(product.status==2){%>
      <tr><td class="status">Undo</td></tr>
  <% }; %>
  <% if(product.status==3){%>
      <tr><td class="status">Complete</td></tr>
  <% }; %>
  
  <% }); %>
 </table>
                    <% }); %>
           

        <% } %>


<!-- <footer class="container-fluid bg-dark">
<p class="m-0 text-center text-white">Copyright Pitts</p>
</footer> -->
  
  
  
  
  
                <script>
                      
                    $(document).ready(function() {
                     
                      // $('.checklist_table').sort(function(a, b) {
                      //   return parseInt($(a).find('.status').html()) - parseInt($(b).find('.status').html());
                      // }).appendTo($(".table-responsive"));
                      
                      
                      
                      $("[name='list_id']").each(function(){
                      // console.log($(this).parent().find('.status').html());
                      console.log($(this).html());
                        switch($(this).parent().find('.status').html()) {
                            
                          case "Doing":
                            $(this).attr('class', 'startedTask');
                            break;
                          case "Undo":
                            $(this).attr('class', 'assignedTask');
                            break;
                          case "Complete":
                            $(this).attr('class', 'finishedTask');
                            break;
                            
                        }
                      });
                      
                      $("[name='description']").each(function(){
                      // console.log($(this).parent().find('.status').html());
                        if (!$("[name='"+$(this).html()+"']").length){
                          
                          let newDiv = document.createElement("div");
                          newDiv.setAttribute("name", $(this).html()); 
                          newDiv.setAttribute("class", "classification"); 
                          
                          let tableDiv = document.createElement("div");
                          tableDiv.setAttribute("class", "tableDiv");
                          tableDiv.setAttribute("name", "0");
                          tableDiv.setAttribute("data-number", "0");
                          
                          // let tableSpan = document.createElement("span");
                          // tableSpan.append($(this).html());
                          tableDiv.append($(this).html());
                          // tableDiv.append(tableSpan);
                          newDiv.append(tableDiv);
                          document.body.appendChild(newDiv);
                        }
                        
                      });
       
                      
                      $(".checklist_table").each(function(){
                        var thisClass = $("[name='"+$(this).find("[name='description']").html()+"']").find(".tableDiv");
                        // if ($("[name='"+$(this).find("[name='description']").html()+"']").html() == $(this).find("[name='description']").html()){
                        // if (thisClass.find("span").html() == $(this).find("[name='description']").html()){
                        if (thisClass.html() == $(this).find("[name='description']").html()){
                          var x = $(this).remove();
                          thisClass.parent().append(x);
                          
                          if ($(this).find("[name='description']").parent().parent().find(".status").html() == '3') {
                            
                            var number = parseInt(thisClass.attr('data-number'))+ 1;
                            thisClass.attr("data-number", number);
                          }
                          var total = parseInt(thisClass.attr('name'))+ 1;
                          thisClass.attr("name", total);
                        }
                        
                      });
                      
                      $(".tableDiv").each(function(){
                        
                        var width = (parseInt($(this).attr('data-number')) / parseInt($(this).attr('name'))) * 100;
                        $(this).css('width', width + "%");
                        
                        
                      });
                      
                      
                      
                      
                      
                      $("#checklist_table td").hide();
                      
                      $(".tableDiv").click(function() {
                         // alert(1);
                        // $(this).parent().parent().find('td').toggle();
                        //   $("[name='list_id']").find('td').show();
                        //   $(this).parent().parent().find('.status').hide();
                        
                        // $(this).parent().find("#checklist_table td tr:not([name='list_id'])").hide();//这里td不隐藏
                        
                        
                        
                        $(this).parent().find("[name='list_id']").find('td').toggle();
                        

                        });
                      
                      
                        // $("#checklist_table td").hide();
                        // $("[name='list_id']").find('td').show();
                       $(".list_id_button").click(function() {
                         // alert(1);
                        $(this).parent().parent().find('td').toggle();
                          $(this).parent().parent().find("[name='list_id']").find('td').show();
                          $(this).parent().parent().find('.status').hide();

                        });
                      
                      
                      
                      
                      
                    });
                </script>
  
</body>
</html>
