<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Shoes!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous"/>
  </head>
<body>
  <div class="container" style="padding-top: 20px">
  
    <nav class="nav">
      <li class="nav-item">
        <a class="nav-link active" href=" ">Home</a >
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/product2">Check All Products</a >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/addNew">Add New Product</a >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/vendors">Check Vendors</a >
      </li>
    </nav>
    
    <div class="card">
      <h2 class="card-header">
        API documentation
      </h2>
    </div>
    
<!--     <div class="table-responsive"> -->

        <table class="table">
          <tr>
            <th>API</th>
            <th>Description</th>
          </tr>
          
          
          <div class="card border-dark">
  <div class="card-header">
    <h3>Request specific game</h3>
  </div>
      <div class="card-body">
      <h5 class="card-title">GET /product </h5> 
        <p class="card-text">The end point to get all products.</p>
      
  </div>
  </div> 
          

            <div class="card-header">
    <h3>Request specific game</h3>
  </div>
      <div class="card-body">
      <h5 class="card-title">GET /vendors</h5> 
        <p class="card-text"> The end point to get all vendors.</p>
      

  </div>
  </div> 
    
    
      <div class="card-header">
    <h3>Request specific game</h3>
  </div>
      <div class="card-body">
      <h5 class="card-title">POST /addOne</h5> 
        <p class="card-text"> The end point to add a new product.</p>
      

  </div>
  </div> 
  
  
  
    <div class="card-header">
    <h3>Request specific game</h3>
  </div>
      <div class="card-body">
      <h5 class="card-title"> GET /delete/:id </h5> 
        <p class="card-text">The end point to delete chosen product.</p>
      
  </div>
  </div> 
  
  
  
    <div class="card-header">
    <h3>Request specific game</h3>
  </div>
      <div class="card-body">
      <h5 class="card-title">DELETE /deleteVendor/:id/vendor </h5> 
        <p class="card-text">The end point to update chosen product.</p>
      
    <code>
      app.get('/games/:id', function(request, response, next) { <br>
      ...//find the movie whose id equals request params id<br>
      });
    </code>
  </div>
  </div> 



  <div class="card-header">
    <h3>Request specific game</h3>
  </div>
      <div class="card-body">
      <h5 class="card-title">GET /games/{id}</h5> 
        <p class="card-text">Return to the game and its detailed information which is connect to the given id</p>
      
    <code>
      app.get('/games/:id', function(request, response, next) { <br>
      ...//find the movie whose id equals request params id<br>
      });
    </code>
  </div>
  </div> 
          
          
          <tr>
            <td class="td1"> GET /product </td>
            <td class="td2">  The end point to get all products. </td>
          </tr>
          <tr>
            <td class="td1"> GET /vendors </td>
            <td class="td2">  The end point to get all vendors. </td>
          </tr>
          <tr>
            <td class="td1"> POST /addOne </td>
            <td class="td2">  The end point to add a new product. </td>
          </tr>
          <tr>
            <td class="td1"> GET /delete/:id </td>
            <td class="td2">  The end point to delete chosen product. </td>
          </tr>
          <tr>
            <td class="td1"> PUT /products/:id </td>
            <td class="td2">  The end point to update chosen product. </td>
          </tr>
          <tr>
            <td class="td1"> DELETE /deleteVendor/:id/vendor </td>
            <td class="td2">  The end point to delete chosen vendor. </td>
          </tr>

      </table>
<!--     </div> -->
    
    
    
  </div>
  
</body>
</html>