<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instructions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
  />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css">
</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  <h2 style="color:white;">&nbsp;&nbsp;Checklist&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
<!--       <li class="nav-item"><a class="nav-link" href="/index">Home</a></li> -->
<!--       <li class="nav-item"><a class="nav-link" href="/product">Check All Shoes</a></li>
      <li class="nav-item"><a class="nav-link" href="/vendors">Check All Brands</a></li> -->
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
<!--           <li class="nav-item"><a class="nav-link" href="/myCart">My Cart</a ></li> -->
          <li class="nav-item"><a class="nav-link  active" href="/mine">My Profile</a ></li>
       <li class="nav-item"><a class="nav-link" href="/instructions">Instruction</a></li>
          <li class="nav-item"><a class="nav-link" href="/dashboard">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/>
  
<br/><br/>
<div class="d-flex justify-content-center">
<div class="card text-center" style="width:60%">
  <div class="card-header">
     <h1 class="entry-title">Instructions for new users</h1>
   
    <h3>
      Welcome <td><%= user.name %></td>
    </h3>
    
                                                  

                                                <div class="entry-column-main">
                                                    <div class="entry-content">

                                                        <p> </p>

                                                        <p>In the United States, medical school typically lasts four years. Medical students spend the first part of this third and fourth years rotating through a combination of required clerkship and electives. Most medical schools require rotations in internal medicine, surgery, pediatrics, psychiatry, obstetrics and gynecology, family medicine, radiology, and neurology. Some schools additionally require emergency medicine and intensive-care medicine. Furthermore, a common graduation requirement is to complete a sub-internship in a specialty, where the medical student acts as an intern.</p>

                                                        <p>The purpose of this system is to provide clerkship with a platform for students and teachers to manage the courses they have participated in. From the student side, students can view all their clerkship information, including the content that has been learned and the content that has not been learned, and the student can modify the course status, for example, the student changes the course status from never completed to completed. It is convenient for students to understand the progress of their studies. The teacher can see the student's course selection information, which is convenient for the teacher to understand the courses that the students have learned and the courses that the students have not participated in. So as to better teach in the course. </p>

                                                        <p>On this page, I will show you how this platform displays courses and explain the meaning of each functional module. Of course,
The most important thing is how to use this system correctly.</p>

                                                        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>

                                                        <p>
                                                            <strong>Xxxxxxxxxxxxxxxxxxxxxx:</strong>
                                                        </p>

                                                        <ul>
                                                            <li>What is user documentation and why is it important?</li>
                                                            <li>How end user documentation is part of the customer experience.</li>
                                                            <li>How good user documentation can help take the burden off your customer support team.</li>
                                                            <li>Why visual content is the secret ingredient to the best documentation.</li>
                                                            <li>The essential elements that ensure the best user documentation.</li>
                                                            <li>The four steps to creating documentation that delights your customers and stands the test of time.</li>
                                                        </ul>

                                                        <div style="margin-bottom: 30px;padding: 30px;border-radius: 8px 8px 8px 8px;background-color: #f2f2f2">
                                                            <h2>Xxxxxxxxxxxxxxxxx</h2>
                                                            <p>Snagit’s templates are the fastest way to create user guides. Create step-by-step guides with a simple and professional look.</p>
                                                            <p>
                                                                <strong>
                                                                    <a class="button button-primary" href="https://www.upmc.com">Link to UPMC</a>
                                                                </strong>
                                                            </p>
                                                        </div>

                                                        <h2>xxxxxxxxxxxxxxxxxx</h2>

                                                        <p>
                                                            <strong>Contact Us​
If you have any questions, or if you wish to give us some advice, please email us <u>XXX@pitt.edu</u> </strong>
                                                        </p>
  </div>
  
 
  <button class="btn btn-secondary btn-lg btn-block back_button" onclick="location.href='/myCart'" type="button">
         Back to Home Page</button>
</div></div>
<!--   
  <br/><br/><br/><br/>
  <footer class="container-fluid bg-dark">
<p class="m-0 text-center text-white">Copyright &copy; Venom 2020</p>
</footer> -->
</body>