<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instructions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
  />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/tourbus.css" type="text/css">
</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  <h2 style="color:white;">&nbsp;&nbsp;Checklist&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
<!--       <li class="nav-item"><a class="nav-link" href="/index">Home</a></li> -->
<!--       <li class="nav-item"><a class="nav-link" href="/product">Check All Shoes</a></li>
      <li class="nav-item"><a class="nav-link" href="/vendors">Check All Brands</a></li> -->
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
<!--           <li class="nav-item"><a class="nav-link" href="/myCart">My Cart</a ></li> -->
          <li class="nav-item"><a class="nav-link  active" href="/mine">My Profile</a ></li>
       <li class="nav-item"><a class="nav-link" href="/instructions">Instruction</a></li>
          <li class="nav-item"><a class="nav-link" href="/dashboard">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/>
  
<br/><br/>
<div class="d-flex justify-content-center">
<div class="card text-center" style="width:100%">
  <div class="card-header">
     <div>Instructions for new users</div>
   
    <div>
      Welcome <td><%= user.name %></td>
    </div>
<!--     <div>
          <p>In the United States, medical school typically lasts four years. Medical students spend the first part of this third and fourth years rotating through a combination of required clerkship and electives. Most medical schools require rotations in internal medicine, surgery, pediatrics, psychiatry, obstetrics and gynecology, family medicine, radiology, and neurology. Some schools additionally require emergency medicine and intensive-care medicine. Furthermore, a common graduation requirement is to complete a sub-internship in a specialty, where the medical student acts as an intern.</p>

    <p>The purpose of this system is to provide clerkship with a platform for students and teachers to manage the courses they have participated in. From the student side, students can view all their clerkship information, including the content that has been learned and the content that has not been learned, and the student can modify the course status, for example, the student changes the course status from never completed to completed. It is convenient for students to understand the progress of their studies. The teacher can see the student's course selection information, which is convenient for the teacher to understand the courses that the students have learned and the courses that the students have not participated in. So as to better teach in the course. </p>

    <p>On this page, I will show you how this platform displays courses and explain the meaning of each functional module. Of course,
The most important thing is how to use this system correctly.</p>
    </div>

    <p>
      <strong>Example of the checklist page</strong>
    </p>
    
    <img
            src="https://cdn.glitch.com/861a36ec-6a23-43f1-9b97-1feba04653bc%2FScreen%20Shot%202021-04-25%20at%202.02.30%20PM.png?v=1619373767791"
            alt="Guards"
            width="600"
            height="320"
          /> -->

                                                        
  </div>
When you open the checklist page, you will see the names of all clerkships, Including the information of clerkships on the left and task completion status on the right.
There are three task status, which are completed status in gray, undo status in blue and start status in red. 
Every time you click the status button, it will enter to the next status. The three states are carried out cyclically. If there is a wrong click, it can be modified to the correct status.
When you click the task name, you can see more detailed task information, including class location and teacher's name.
The blue progress bar shows the progress of the student's own tasks. When the green progress bar is full, it means that all tasks under the clerkship have been completed. When the progress bar is all white, it means that no tasks have been started.
                                                            <li style="float:left">Students should submit the status of tasks in accordance with the actual learning progress to make teachers' teaching much easier.
                                                        </ul>

                                                            <p>For all UPMC students, if you need to inquire about UPMC or need to know more about clinical clerkship, you can click on the link below.</p>
                                                          
                                                            <p>
                                                                <strong>
                                                                    <a class="button button-primary" href="https://www.upmc.com">Link to UPMC</a>
                                                                  <img
            src="https://cdn.glitch.com/0d37010b-0714-411d-9e95-c91ac22d95f0%2FScreen%20Shot%202021-04-14%20at%204.38.39%20PM.png?v=1618432795327"
            alt="Guards"
            width="175"
            height="70"
          />
                                                                </strong>
                                                            </p>
                                                        

                                                      

                                                        <p>
                                                            <strong>Contact Us​
If you have any questions, or if you wish to give us some advice, please email us <u>Checklist@pitt.edu</u> </strong>
                                                        </p>
 
  <button class="btn btn-secondary btn-lg btn-block back_button" onclick="location.href='/myCart'" type="button">
         Back to Home Page</button>
<!--   
  <br/><br/><br/><br/>
  <footer class="container-fluid bg-dark">
<p class="m-0 text-center text-white">Copyright &copy; Venom 2020</p>
</footer> -->
</body>

