      <!DOCTYPE html>
      <html>
      <head>
        <title>Login</title>

      </head>
      <body>
           <form action="/login" method="post">
            <fieldset>
               <legend>Please Login:</legend>
            
             
             <label>Email</label>
             <input type="email" id="email" name="email" placeholder="Email address" ><br><br>
             
             <label>Password</label>
             <input type="password" id="password" name="password" placeholder="Password" ><br><br>
             
             <button class="btn btn-lg btn-primary btn-block" 
               type="submit">Log In</button> 
             </fieldset>
            </form>
          </div>
        </body>
        </html>