      <!DOCTYPE html>
      <html>
      <head>
        <title>Signup</title>

      </head>
      <body>
           <form class="form-signin" action="/signup" method="post">
            <h1>
              网站名？</h1>
             <h2 class="form-signin-heading">Please sign up </h2>
             
             
               <label for="inputFName" class="sr-only">First Name</label>
             <input type="text" id="fname" name="fname" class=
               "form-control" placeholder="Your First Name" required=""><br><br>
             
              <label for="inputLName" class="sr-only">Last Name</label>
             <input type="text" id="lname" name="lname" class=
               "form-control" placeholder="Your Last Name" required=""><br><br>
             
             <label for="inputUName" class="sr-only">User Name</label>
             <input type="text" id="uname" name="uname" class=
               "form-control" placeholder="User Name" required=""><br><br>
             
             <label for="inputEmail" class="sr-only">Email Address</label>
             <input type="email" id="email" name="email" class=
               "form-control" placeholder="Email address" required=""><br><br>
             
             <label for="inputPassword" class="sr-only">Password</label>
             <input type="password" id="password" name="password" 
               class="form-control" placeholder="Password" required=""><br><br>
             
             <button class="btn btn-lg btn-primary btn-block" 
               type="submit">Sign Up</button> 
            </form>
          </div>
        </body>
        </html>