<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shoes</title>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  <div class="container">
  
    
       <h2 style="color:white;">Website Name</h2>
    
      <div class="collapse navbar-collapse" id="navbar"> 
        
        <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="/product">Check All Shoes</a >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vendors">Check Brand</a >
      </li>
          <li class="nav-item">
        <a class="nav-link active" href="/welcome">Log In</a >
      </li>
        </ul>
 </div>
      </div>
    </nav>
    <br/><br/><br/><br/><br/>



<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
  
  
  </body>
</html>
