/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

table tr td{
  height: auto;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

/* form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
} */

/* input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
} */

/* button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
} */

/* button:hover {
  background-color: yellow;
} */
/* 
button:active {
  box-shadow: none;
} */

/* li {
  margin-bottom: 5px;
} */
/* 
footer.end {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  float: left;
  width: 100%;
} */





.table-responsive{
  margin: auto 0;
}

.checklist_table{
  margin: 10px;
}



.checklist_table tr{
  width: 100%;
/*   height: 10px!important; */
  vertical-align:top;
}



.checklist_table td{
  font-size:1em;
  padding: 10px;
  
}

.list_id{
  background-color: grey;
  
}
.table_button{
  vertical-align:middle!important;
  background-color: white;
  border: none!important;
  width: 10%;
  height: 100%!important;
  padding: 0px!important;
  margin: 0px!important;
  
  
}

.table_button_div {
  width: 100%!important;
  height: 100%!important;
}

.change_status{
  width: 100%!important;
  height: 100%!important;
  background-color: white!important;
  border: 1px solid grey!important;
  margin-left: 10px!important;
}
