/* styles */
/* called by your view template */

/*
Thanks to the following for help:
https://tympanus.net/codrops/2015/09/30/shaded-progress-bars-css-sass-excercise/
*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900');

$highlight: #4D5075;

$height1: 7vh;
$length1: 55vh;
$bg-bar1: rgba(white, 0.5);
$fill-bar1:rgba(#954169, 0.6);

$height2: 10vh;
$length2: 40vh;
$bg-bar2: rgba(#3C4B84, 0.5);
$fill-bar21: #867292;
$fill-bar2: #C8D4FA;

$height3: 8vh;
$length3: 42vh;
$bg-bar3: rgba(#E89AAD, 0.7);
$fill-bar31: rgba(#F5EFC8, 0.5);
$fill-bar3: #ec0071;

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito", sans-serif;
/*   background: linear-gradient(0deg, #EEEFED, #F9E3E9); */
  margin: 0;
  padding: 0;
  color: $highlight;
  font-weight: 300;
  width: 100%;
  height: 100%;
  margin: 0;
/*   background-color:#e9ebec; */
  
  }


body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7vh 15vw 0vh 15vw;


}

h1 {
  text-align: center;
  margin: 0 0 10vh 0;
  font-size: 7vh;
  font-weight: 500;
  text-shadow: 0px -15px 70px rgba($highlight, 0.6);
}

h1 b {
  font-weight: 900;
}

p {
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 10px 5px 25px rgba($highlight, 0.6);
  margin-bottom: 8vh;
}

.third-bar-p {
  margin-top: 7vh;
}

.perspective {
  perspective: 70vh;
  text-align: center;
  perspective-origin: 50% 50%;
  position: relative;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.04);
  }
}

.bar-input {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

#first-bar .bar-input {
  width: $length1;
}

#second-bar .bar-input {
  width: $length2;
}

#third-bar .bar-input {
  width: $length3;
}

.bar {
  display: inline-block;
  position: relative;
  transform: rotateX(55deg);
  transform-style: preserve-3d;
  .bar-face {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transform-origin: 50% 100%;

    &.front {
      transform: rotateX(-90deg);
    }

    &.percentage:before {
      height: 100%;
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      margin: 0;
    }
  }
}

@mixin build-skin($color) {
  &.floor {
    box-shadow: 0 1.3em 1.2em -0.4em rgba(0,0, 70, 0.25),
      0 -2em 15em 0.5em rgba($highlight, 1), 0 -0.75em 25em 10em rgba(white, 0.4);
  }

  &.percentage:before {
    box-shadow: 0 1.6em 7em -0.3em rgba($color, 0.5);
  }
}

#first-bar .bar {
  width: $length1;
  height: $height1;
  .bar-face {
    background: $bg-bar1;
    @include build-skin($fill-bar1);

    &.roof {
      transform: translateZ($height1);
    }

    &.back {
      transform: rotateX(-90deg) translateZ(-$height1);
    }

    &.percentage:before {
      background-color: $fill-bar1;
    }
  }
}

#second-bar .bar {
  width: $length2;
  height: $height2;
  .bar-face {
    @include build-skin($fill-bar2);
    background: $bg-bar2;
    background-image: linear-gradient(90deg, rgba($fill-bar21, 0.5), rgba($bg-bar2, 0.1)),url('https://zephyo.github.io/22Days/code/5/graphics/stars.svg'),
      url('https://zephyo.github.io/22Days/code/5/graphics/stars2.svg');
    background-repeat: repeat repeat;
    &.roof {
      transform: translateZ($height2);
    }

    &.back {
      transform: rotateX(-90deg) translateZ(-$height2);
    }

    &.percentage:before {
       opacity: 0.9;
    }
  }
}

$indicator-size: 8vh;

#third-bar .bar {
  width: $length3;
  height: $height3;
  .bar-face {
    @include build-skin($fill-bar3);
    background: $bg-bar3;

    &.roof {
      transform: translateZ($height3);
    }

    &.back {
      transform: rotateX(-90deg) translateZ(-$height3);
    }

    &.percentage:before {
      background: linear-gradient(90deg, $fill-bar31,$fill-bar3);
    }
  }

  .indicator {
    box-shadow: 0px 15px 35px rgba($fill-bar3, 0.3);
    background: $fill-bar3;
    width: $indicator-size;
    height: $indicator-size;
    color: white;
    transform: translateY($height3 * 1.2);
    text-align: center;
    font-size: 2.5vh;
    font-weight: 900;
    line-height: $indicator-size;
    &:before {
      content: "";
      position: absolute;
      background: $fill-bar3;
      left: 0;
      right: 0;
      margin: auto;
      top: -6px;
      width: $indicator-size/2;
      height: $indicator-size/2;
      z-index: -1;
      transform: rotate(45deg);
    }
  }
}





* {
  box-sizing: border-box;
}

body, html {
  
background-image: url(https://cdn.glitch.com/861a36ec-6a23-43f1-9b97-1feba04653bc%2FPITT-CAMPUS-.jpg?v=1619046729552)
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 1em;
/*   width: 100%;
  height: 100%; */
/*   background-color:#e9ebec */

}

iframe {
  display: none;
}

/* table tr td{
  height: auto;
} */

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

/* form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
} */

/* input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
} */

/* button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
} */

/* button:hover {
  background-color: yellow;
} */
/* 
button:active {
  box-shadow: none;
} */

/* li {
  margin-bottom: 5px;
} */
/* 
footer.end {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  float: left;
  width: 100%;
} */




.table-responsive{
  margin: auto 0;
}

.checklist_table{
/*   margin: 10px; */
  width: 100%;
  table-layout: fixed;
/*   border-collapse: separate;
  border-spacing: 5px 0; */
}



.checklist_table tr{
  width: 100%;
/*   height: 10px!important; */
  vertical-align:top;
}



.checklist_table td{
  font-size:1em;
  padding: 10px;
  
}

.checklist_table th{
  cursor:pointer;
  font-size:1em;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color:#D9ECDB;
  border-top: 4px solid white;
}

.assignedTask{
  background-color: #70C4C7;
  cursor: pointer;
  color: white;
  
}

/* .nextWeekTask{
  background-color: #D9ECDB;
  cursor: pointer;
} */

.startedTask{
  background-color: #FFCCCC;
  cursor: pointer;
  color: white;
}

.finishedTask{
  background-color: #CCCCCC;
  cursor: pointer;
  color: white;
}






.change_status{
    display: inline-block!important;
    width: 100%!important;
    height: 100%!important;
    background: space;
    border: tomato;
    font: 700 13.3333px Arial;
    /* border: 1px solid #7099C8!important;
/*   border: 1px solid #7099C8!important; */

  
}

.table_button{
    vertical-align: middle!important;
/*     border: 1px solid #e9ecef!important; */
    width: 15%!important;
    height: 90%!important;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    padding: 1em 2em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffffc7;
/*     border-radius: 10px; */
    border: 1px solid;
    border-color: currentColor;
    cursor: pointer;
    position: relative;
/*     transition: transform ease-in 0.1s; */
/*   box-shadow ease-in 0.25s; */
/*     box-shadow: 0 2px 25px #e9ecef;  */
}
.table_button:hover{
  background-color: inherit;
  transform: scale(1.2);
}

.status {
  display: none;
}

.bg-dark {
    background-color: #7099C8!important;
}

.login{
  outline:none!important;
}

.back_button{
  background-color: #7099C8!important;
  border: none!important;
  outline:none!important;
}

.btn-primary {
    color: #fff;
    background-color: #7099C8!important;
    border-color: #7099C8!important;
    outline: none!important;
}

.btn-check{
  display: none;
}

.role {
  width: 48%;
  float: left;
  margin-bottom: 4%;
}

.role {
  background-color: white!important;
  color: #7099C8!important;
}
input[type="radio"]:checked + label{
/* label input[type="radio"]:checked ~ label { */
  background-color: #7099C8!important;
  color: white!important;
}

.classification{
  background: rgb(72 77 140 / 10%);
  width: 90%;
  height: auto;
  margin: auto 0 10px;
  border: 0px solid rgb(72 77 140 / 90%);
  font-size: 1rem;
  text-shadow: 10px 5px 25px rgb(77 80 117 / 60%);
/*   color: rgb(72 77 140 / 90%); */
  color:#4679B4;
  font-weight: 550;
  border-radius: 20px;

}

.tableDiv{
  background: #FFF;
  text-overflow:inherit;
	overflow:visible;
  font-size:1.5em;
  background-color:#ccd6ef;
  padding: 5px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 20px;
  
}
